*{margin:0;
padding:0;}

/* font-family: 'Mukta', sans-serif; */
.body{
    font-family: 'Mukta', sans-serif;
}

.header{
    background-color: rgba(11, 145, 122, 0.986);
    height: 70px;
}

.listaHeader{
    color:white;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    font-weight:600;
    font-size: 200%;
}

.titulo{
    padding-left: 20px;
    padding-right: 20px;
}

.flechas{
    color:white;
}

.main{
    background-color: rgb(200, 211, 207);
    height: 100%;
    text-align: center;
    padding-top:50px;
}

.medida{
    padding-bottom:50px;
    font-weight: bold;
}

.unidadAConvertir{
    font-weight: bold;
    padding-right: 10px;
}

.unidadDeseada{
    padding-left: 5%;
    padding-right: 10px;
    font-weight: bold;
}

.uAConvertir{
    font-family: 'Mukta', sans-serif;
    width: 200px;
    height: 40px;
    border-color:rgba(11, 145, 122, 0.986);
    border-width: 3px;
    border-style: solid;
}

.uDeseada{
    font-family: 'Mukta', sans-serif;
    width: 200px;
    height: 40px;
    border-color:rgba(11, 145, 122, 0.986);
    border-width: 3px;
    border-style: solid;
}

.de{
    font-family: 'Mukta', sans-serif ;
    width: 200px;
    height: 40px;
    border-color:rgba(11, 145, 122, 0.986);
    border-width: 3px;
}
.a{
    font-family: 'Mukta', sans-serif;
    width: 200px;
    height: 40px;
    border-color:rgba(11, 145, 122, 0.986);
    border-width: 3px;
}

.formUsuario{
    margin:30px;
    padding:20px;
    border: 2px solid;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 90px;
    background-color: rgba(11, 145, 122, 0.986);
    text-align: center;
    border-color: rgb(44, 43, 43);
    border-width: 3px;
    border-radius: 5px;
}

#irAConversor{
    opacity: 0;
}

.formBody{
    font-family: 'Mukta', sans-serif;
    background-color: rgb(200, 211, 207);
    height: 100vh;
}

.login{
    font-family: 'Mukta', sans-serif ;
    width: 80px;
    height: 40px;
    border: 2px solid;
    border-color:rgb(200, 211, 207);
    color:rgb(107, 201, 166);
    background-color:black ;
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 120%;
    font-weight: bold;
}

.irAConversor{
   /*  font-family: 'Mukta', sans-serif ;
    width: 200px;
    height: 40px;
    border: 2px solid;
    border-color:rgb(200, 211, 207);
    color:rgb(107, 201, 166);
    background-color:black ;
    margin-top: 10%;
    font-size: 120%;
    font-weight: bold; 
    margin-bottom: 5%; */
    color:rgba(11, 145, 122, 0.986);
    text-decoration: none;
    font-weight: bold; 
}

#respuesta{
    font-family: 'Mukta', sans-serif ;
    font-size: 130%;   
}

.username{
    font-weight: bold;
    font-size: 150%;
}

.user{
    font-family: 'Mukta', sans-serif ;
    width: 200px;
    height: 40px;
    border-color:rgb(44, 43, 43);
    border-width: 2px; 
    margin-bottom: 10% ; 
    font-size: 100%;
}

.password{
    font-weight: bold;
    font-size: 150%;
}

.pass{
    font-family: 'Mukta', sans-serif ;
    width: 200px;
    height: 40px;
    border-color:rgb(44, 43, 43);
    border-width: 2px;  
    margin-bottom: 10%;
    font-size: 100%;
}

.btnComent{
    font-family: 'Mukta', sans-serif;
    font-size: 120%;
    width: 200px;
    height: 40px;
    border-color:rgba(11, 145, 122, 0.986);
    border-width: 3px;
    border-style: solid;
}

.coments{
    text-align:justify ;
    padding-left: 5% ;
    padding-right: 5%;
    padding-bottom: 2% ;
}

.tituloComent{
    color:rgb(44, 43, 43);
    font-size: 80%;
}

.usuarioComent{
    font-weight: bold;
}

.comentario{
    border: solid;
    border-color: rgba(11, 145, 122, 0.986);
    border-width:medium;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: white;
}